html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.combo-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-top: 500px; /* Reduced from 400px to bring it higher on the page */
    overflow-x: hidden; /* This prevents horizontal scrolling of the whole page */
}

#comboInput {
    width: 100%; /* Adjust this value to make the search bar wider or narrower */
    max-width: 1000px; /* This prevents the bar from becoming too wide on large screens */
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;

}

#comboVisual {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
   
}

    #comboVisual img {
        width: 35px;
        height: 35px;
        margin-right: 5px;
        margin-bottom: 5px;

    }