html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.combo-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 400px; /* Adjust this value to move the search bar down as needed */
}

#comboInput {
    width: 100%; /* Adjust this value to make the search bar wider or narrower */
    max-width: 800px; /* This prevents the bar from becoming too wide on large screens */
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#comboVisual {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

    #comboVisual img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

.combo-image {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#comboVisual {
    display: flex;
    flex-wrap: wrap;
}

    #comboVisual img {
        width: 70px;
        height: 70px;
        margin-right: 5px;
        margin-bottom: 5px;
    }